@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* imagens 560x315 */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --cor1: #00050d;
  --cor2: #ffffff;
  --cor3: #000000;
}

/*          corpo do site           */
body {
  position: relative;
  width: 100%;
  background: var(--cor1);
  background-size: cover;
}

/*          cabeçalho           */
header {
  position: fixed;
  top: 0;
  background: #00050d;
  padding: 17px;
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px var(--cor1);
}
header img {
  width: 170px;
}

/*          conteudo geral principal          */
main {
  position: absolute;
  top: 260px;
  left: 50%;
  height: 92vh;
  transform: translateX(-50%);
  color: var(--cor2);
  background-color: #060d17;
  width: 1300px;
  margin: 0px auto 20px auto;
  padding-bottom: 10vh;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #060d1773;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  font-size: 2em;
  line-height: 1em;
  text-shadow: 2px 2px 2px rgba(169, 169, 169, 0.545);
}
div.capa {
  background: white url(imagens/animes/aot-giga.jpg) no-repeat center top;
  background-size: cover;
  max-width: 160vw;
  height: 350px;
  box-shadow: inset 0px -58px 25px -3px var(--cor1);
}

div.imagem {
  display: inline-block;
  margin: 35px 80px;
}
div.imagem > img {
  border-radius: 5px;
  width: 300px;
  aspect-ratio: 2/3;
}

.titulo {
  position: absolute;
  display: inline-block;
  width: 760px;
  margin-top: 35px;
  margin-right: 80px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.7em;
}

#sinopse {
  position: absolute;
  top: 130px;
  display: inline-block;
  max-width: 750px;
  margin-right: 80px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 15px;
  text-align: justify;
  line-height: 1.2em;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 4px 5px 14px 0px #416bd766;
}
#sinopse p {
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  padding: 8px;
}
.duracao p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  width: 300px;
  padding: 5px 80px;
}
.tempo {
  text-align: center;
  padding-left: 150px;
}

/* plataforma */
div.plataforma {
  margin: 40px 80px;
  display: inline-block;
}
.plataforma > h1 {
    margin: 15px 0px;
}
.plataforma img {
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
}
.plataforma img:hover {
  box-shadow: 0px 0px 10px 0px #416bd72c;
  border: 1px solid white;
  transition-duration: 0.6s;
}

/* video */

.teste {
    position: absolute;
    top: 520px;
    right: 80px;


display: inline-block;
}

.trailer {
  text-align: center;
}

div#final {
  width: 760px;
  height: 427.5px;
}

div#final > iframe {
  aspect-ratio: 16/9;
  width: 760px;
  height: 100%;
  border-radius: 8px;
}

footer {
  text-align: center;
  color: rgba(128, 128, 128, 0.22);
  font-size: 1.1em;
  margin: 0.8em;
}
footer a {
  color: rgba(128, 128, 128, 0.353);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
