@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* imagens 560x315 */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --cor1: #00050d;
  --cor2: #ffffff;
  --cor3: #000000;
}

/*          corpo do site           */
body {
  position: relative;
  width: 100%;
  background: var(--cor1);
  background-size: cover;
  overflow-x: hidden;
}

/*          cabeçalho           */
header {
  position: fixed;
  top: 0;
  left: -25%;
  background: #00050d;
  padding: 10px 0px;
  width: 150%;
  display: block;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 5px 1px var(--cor1);
}
header img {
  width: 170px;
}
header > span#logo-hor > img {
  padding: 15px;
  margin: auto;
  width: 190px;
}
#logo-ver {
  display: none;
}

/*          conteudo geral principal          */
#fundo {
  position: absolute;
  background: var(--cor1);
  box-shadow: -30px -98px 50px -3px var(--cor1);
  width: 120%;
  height: 100%;
}

main {
  position: absolute;
  top: 260px;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  color: var(--cor2);
  background-color: #060d17;
  width: 1300px;
  margin: 0px auto 20px auto;
  padding-bottom: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #060d1773;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  font-size: 2em;
  line-height: 1em;
  text-shadow: 2px 2px 2px rgba(169, 169, 169, 0.545);
}
div.capa {
  max-width: 160vw;
  height: 500px;
  box-shadow: inset 0px -58px 25px -3px var(--cor1);
}
div.capa img {
  height: 100%;
  width: 100%;
  background-size: 60px;
  background-position: center 45%;
  background-repeat: no-repeat;
}

div.imagem {
  display: inline-block;
  margin: 35px 80px;
}
div.imagem > img {
  border-radius: 5px;
  width: 300px;
  aspect-ratio: 2/3;
}

div.titulo {
  position: absolute;
  display: inline-block;
  max-width: 100%;
  width: 760px;
  margin-top: 35px;
  margin-right: 80px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.7em;
}

#sinopse {
  position: absolute;
  top: 110px;
  display: inline-block;
  max-width: 750px;
  height: auto;
  margin: 25px 80px 30px 0px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 4px 5px 14px 0px #416bd766;
  border-radius: 10px;
}
#sinopse h1 {
  text-align: center;
  padding: 5px;
}
#sinopse p {
  padding: 4px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  text-indent: 20px;
  text-align: justify;
  line-height: 1.2em;
}
.duracao p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  width: 300px;
  padding: 5px 80px;
}

/* plataforma */
div.plataforma {
  margin: 40px 80px;
  display: inline-block;
}
.plataforma > h1 {
  margin: 15px 0px;
}
.icone {
  position: relative;
  margin: 10px 0px;
}
.icone a {
  text-decoration: none;
}
.icone img {
  position: absolute;
  z-index: 2;
  width: 50px;
  border-radius: 50%;
  box-sizing: border-box;
}
.icone a:hover .menuicon {
  display: flex;
  box-shadow: 0px 0px 10px 0px #416bd72c;
  border: 1px solid white;
  width: 230px;
}
.menuicon {
  margin-left: 25px;
  display: flex;
  width: 0px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0px 33px 33px 0px;
  color: black;
  transition: .7s ease;
  box-sizing: border-box;
  
}
.icone a:hover p {
  font-size: 1.2em;
}
.icone p {
  font-family: "Josefin Sans", sans-serif;
  font-size: .5em;
  text-align: center;
  transition: .4s ease;
  
}

/* video */

.teste {
  position: absolute;
  top: 520px;
  right: 80px;
  display: inline-block;
}

h1.trailer {
  text-align: center;
  padding-bottom: 12px;
}

div#final {
  max-width: 100vw;
  width: 760px;
  height: 427.5px;
}

div#final > iframe {
  aspect-ratio: 16/9;
  width: 760px;
  border-radius: 8px;
  
}

footer {
  margin: 0.8em;
  font-size: 1.1em;
  color: rgba(128, 128, 128, 0.22);
}
footer a {
  color: rgba(128, 128, 128, 0.353);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
