@charset "UTF-8";

.incriveis {
    background: url(imagens/filmes/incriveis.jpg) no-repeat center center;
    background-size: cover;
    aspect-ratio: 2 / 3;
    width: 189px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 13px;
}

.enemy {
    background: url(imagens/filmes/enemy.jpg) no-repeat center center;
    background-size: cover;
    aspect-ratio: 2 / 3;
    border-radius: 13px;
}

.darktower {
    background: url(imagens/filmes/darktower.jpg) no-repeat center center;
    background-size: cover;
    aspect-ratio: 2 / 3;
    border-radius: 13px;
}

.resgate {
    background: url(imagens/filmes/resgate.jpg) no-repeat center center;
    background-size: cover;
    aspect-ratio: 2 / 3;
    border-radius: 13px;
}

.major {
    background: url(imagens/filmes/major.jpg) no-repeat center center;
    background-size: cover;
    aspect-ratio: 2 / 3;
    border-radius: 13px;
}
