@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/*  header  */
#logo-ver {
    display: none;
}
header { 
    padding: 5px;
}
header img {
    width: 145px;
}

/*  foto  */
div.capa {
    margin-top: 50px;
    width: 100vw;
    height: 100%;
}
div#fundo { 
    display: none; 
}
/*  main  */
main {
    width: 100vw;    
    top: 160px;
    padding-bottom: 0px;
}
div.imagem { 
    display: none; 
}

div.titulo {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 15px;
    padding-top: 10px;
    font-size: 1.2em;
  }
#sinopse {
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    padding: 10px;
}  

div.duracao p {
    position: absolute;
    top: 65px;
    right: 5%;
    display: inline-block;
    font-size: 1em;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-image: radial-gradient(#416bd74c, transparent);
}

div.plataforma { 
    margin: 80px 20px 30px 30px; 
    display: flex;
}
.icone { 
    margin-left: 9px;
    margin-right: 9px;
}
.menuicon { 
    width: 170px; 
}

.icone a:hover .menuicon { 
    width: 200px; 
}

.icone p { 
    font-size: 1.1em; 
}

.icone a:hover p { 
    padding-left: 10px; 
}

/*  video  */
.teste {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;
}
dev#final {
    width: 50vw;
}
div#final > iframe {
    width: 100%;
}